version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build:
    jobs:
    - architect/go-build:
        name: go-build
        binary: organization-operator
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        executor: app-build-suite
        context: architect
        name: push-organization-operator-to-control-plane-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: organization-operator
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
